In [ ]:
area >= 300000
pop >= 2500000

In [ ]:
import pandas as pd

In [ ]:
data  = pd.read_csv("car_data.csv")

In [ ]:
data.shape

In [ ]:
data.info()

# Data Cleaning
    - Missing Values
           Drop
         - Drop the records having missing data
         - Drop the columns having missing data
           Fill 
         - Fill the missing values
               - Hard coded value
               - Calculated Values
               - Following or Preceding 
    - Duplicate Records
    - Outlier

# Missing Values: isna()   isnull()

In [ ]:
data.isna().sum()

In [ ]:
30,000

In [ ]:
data['kms_driven'].unique()

In [ ]:
data['kms_driven'].isna().sum()
# data['kms_driven']

#### Drop all the missing records

In [ ]:
# dropping rows that have missing values
data.dropna(axis=0)   # horizontal

In [ ]:
# dropping columns that have missing values
data.dropna(axis=1) # vertical

In [ ]:
# drop only those records where all the values are missing
data.dropna(how='all',axis=0)

In [ ]:
# drop all the records where any of the values are missing
data.dropna(how='any',axis=0)

In [ ]:
int(data.shape[1] * 0.70)

In [ ]:
int(data.shape[1]*.70)

In [ ]:
# retain all the records where at least 70% value are valid
data.dropna(axis=0, thresh=int(data.shape[1]*.70)).isnull().sum()

In [ ]:
# retain all the records where at least 70% value are valid
data.dropna(axis=1, thresh=int(data.shape[0]*.70)).shape

In [ ]:
# drop all those records where any value missing in year price or kms_driven
data.dropna(axis=0, subset=['year','Price','kms_driven']).isna().sum()

In [ ]:
# drop all those records where ALL value missing in year price or kms_driven
data.dropna(axis=0, subset=['year','Price','kms_driven'],how='all').isna().sum()

# Filling Missing Data

In [ ]:
# fill all the missing value with ahardcoded value like 0 we did, 
data.fillna(0)

# Filling missing data using mean , median , mode , min , max

In [ ]:
sum((19,23,1,3,53))/5

##### Central Tendency
           - if there is outlier in data we will use median
           - if there is not outlier in data we will use mean
           - for categorical e will use mode
##### Bfill(), ffill()

In [ ]:
data.fuel_type.isna().sum()

In [ ]:
data.fuel_type.value_counts()

In [ ]:
data.fuel_type.value_counts(dropna=False)

In [ ]:
data.fuel_type.mode()

In [ ]:
mode_value = data.fuel_type.mode()[0]
mode_value

In [ ]:
data.fuel_type.fillna(mode_value)

In [ ]:
# data.fuel_type = data.fuel_type.fillna(data.fuel_type.mode()[0])

In [ ]:
data.fuel_type.isna().sum()

In [ ]:
data.dropna(subset=['kms_driven'], inplace=True)

In [ ]:
data['kms_driven'] = data['kms_driven'].apply(lambda x: x.replace(' kms', '').replace(',', ''))

In [ ]:
data.kms_driven.astype(float)

In [77]:
data = data.dropna(subset=['kms_driven'])

In [78]:
mean_value = data[data['kms_driven'] != 'Petrol']['kms_driven'].astype(float).mean()

In [79]:
data['kms_driven'] = data['kms_driven'].apply(lambda x: x.replace('Petrol', str(int(mean_value))))

In [80]:
data.kms_driven = data.kms_driven.astype(float)

CLASS 6-DEC-2025

In [ ]:
data.shape

In [ ]:
data.isna().sum()

In [ ]:
data['Price'] = data['Price'].apply(lambda x : x.replace(',' , ''))

In [ ]:
data[data['Price'] != 'Ask For Price']

In [ ]:
data = data[data['Price'] != 'Ask For Price']

In [ ]:
data['Price'] = data['Price'].astype(float)

In [ ]:
data['Price']

In [ ]:
data.isna().sum()

In [ ]:
data.year

In [ ]:
def year_column_transformation(year):
    try:
        result = int(year)       
    except:
        result = None
    return result

In [ ]:
data['year'] = data['year'].apply(year_column_transformation)

In [ ]:
mode = data['year'].mode()
mode

In [ ]:
data['year'] = data['year'].fillna(mode[0]).astype(int)

In [ ]:
data['fuel_type'] = data['fuel_type'].fillna(data['fuel_type'].mode()[0])

In [81]:
data.isna().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [82]:
data.to_csv('cleaned_data.csv')

In [ ]:
# ignore all lines below this one, class end

In [ ]:
dd# it will not work, bcz we have a string value in the data that can not be converted into float {petrol}
data.kms_driven.str.replace("kms","").str.replace(",",'').astype(float)

In [ ]:
# check hom many value where kms are petrol
data[data.kms_driven=='Petrol']

In [ ]:
data.kms_driven.replace('Petrol', "0", inplace=True)

In [ ]:
# petrol is treplaced by 0 and kms can be converted into float now
data.kms_driven = data.kms_driven.str.replace("kms","").str.replace(",",'').astype(float)

In [ ]:
#we need to fill NAN value
data.kms_driven.isna().sum()

In [ ]:
sns.boxplot(data.kms_driven)

In [ ]:
data.kms_driven = data.kms_driven.fillna(data.kms_driven.median())

In [ ]:
data.kms_driven.isna().sum()

In [ ]:
data.kms_driven.replace('0',data.kms_driven.median(),inplace=True)

In [ ]:
data.isna().sum()

In [ ]:
data.Price.isna().sum()

In [ ]:
data[data.Price=="Ask For Price"]

In [ ]:
data.Price.replace("Ask For Price",0,inplace=True)

In [ ]:
data.Price.replace(0,"0",inplace=True)

In [ ]:
data[data.Price==0].shape

In [ ]:
data.Price.isna().sum()

In [ ]:
data.Price  = data.Price.str.replace(",",'').astype(int)

In [ ]:
data.Price.replace(0, data.Price.median(),inplace=True)

In [ ]:
data.year.unique()

In [ ]:
new_data  = data[data.year.str.isnumeric()]

In [ ]:
new_data.year.unique()

In [ ]:
new_data.year = new_data.year.astype(int)

In [ ]:
new_data.head()

In [ ]:
data_with_wrong_years = data[~(data.year.str.isnumeric())]

In [ ]:
new_data.info()

In [ ]:
new_data.to_csv('cleaned_data.csv')